.code {
    flex-basis: 25%;
}
.from {
    flex-basis: 35%;
}
.to {
    flex: 30%;
}
.index {
    flex-basis: 10%;
}

.code,
.from,
.to {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.text {
    margin: 10px 0;
}
