.index {
    flex-basis: 10%;
}
.code {
    flex-basis: 15%;
}
.router {
    flex-basis: 17%;
}
.plane {
    flex-basis: 15%;
}
.start {
    flex-basis: 15%;
}
.end {
    flex-basis: 15%;
}
.price {
    flex-basis: 10%;
}

.code,
.router,
.plane,
.start,
.price {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.text {
    margin: 10px 0;
}
